html,
body {
  padding: 0;
  margin: 0 2px;
}

xmp {
  white-space: normal;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.details-popup {
  display: none;
  position: relative;
}

.pageinfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #0d5759;
  border-radius: 5px;
  padding: 10px 0;
  color: white;
}

.pageinfo p {
  width: 680px;
  margin: 8px 0;
  text-align: left;
}

.pageinfo p span {
  font-weight: 400;
}

.details-popup .page-title,
.pageinfo {
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.details-popup.show-popup {
  display: block;
}

.details-popup .violations {
  display: flex;
  flex-wrap: wrap;
  background: white;
  flex-direction: row;
  align-items: flex-start;
}

.violations .violation {
  width: 600px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
}

.pages .page {
  margin: 5px;
  width: 350px;
  cursor: pointer;
  text-align: left;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid darkcyan;
}

.pages .page .page-title {
  font-weight: 700;
}

.pages .page:hover {
  background: lightblue;
}

.pages .page.no-violation-found:hover {
  cursor: default;
  background: lightgreen;
}

/*******/
.accordion {
  background-color: #318490;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 3px 0;
  border-radius: 5px;
}

.active,
.accordion:hover {
  background-color: #40608c;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

table th,
table td {
  padding: 5px;
}

th.nodes {
  width: 30%;
}

td.impact {
  text-align: center;
}