html,
body {
  padding: 0;
  margin: 10px;
}

xmp {
  white-space: normal;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.details-popup {
  display: none;
  position: relative;
  background: rgba(128, 128, 128, 0.3);
}

.details-popup.show-popup {
  display: block;
}

.details-popup .violations {
  display: flex;
  flex-wrap: wrap;
  background: white;
  flex-direction: row;
  align-items: flex-start;
}

.violations .violation {
  width: 600px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
}

.pages .page {
  margin: 5px;
  width: 350px;
  cursor: pointer;
  text-align: left;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid darkcyan;
}

.pages .page .page-title {
  font-weight: 700;
}

.pages .page:hover {
  background: lightblue;
}

.pages .page.no-violation-found:hover {
  cursor: default;
  background: lightgreen;
}
